<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mx-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide();revert()"
                #closeBtn>
          <span aria-hidden="true">&times;</span>
        </button>
        <form [formGroup]="taskForm" novalidate class="text-center" style="color: #3F51B5"
              style="padding-top: 20px" id="taskDataForm">
          <p class="h4 mb-4" style="color: #3F51B5">{{ title }} Task</p>
          <!-- Email -->
          {{ taskForm.value | json }}
          <div class="md-form mt-0">
            <input formControlName="task" type="text" id="task" class="form-control" name="task"
                   mdbInput />
            <label for="task">Task Name</label>
            <mdb-error *ngIf="form.task.invalid && (form.task.dirty || form.task.touched)">
              Task name invalid</mdb-error>
            <mdb-success *ngIf="form.task.valid && (form.task.dirty || form.task.touched)">Task name valid</mdb-success>
          </div>

          <div class="md-form">
            <ejs-datepicker format='yyyy-MM-dd' (change)="changeStartDate($event)"
                            style="color:#3F51B5; border: none !important;" id="startDate"
                            placeholder="Start Date" #startDate
                            [value]='formStartDate'
                            class="form-control" name="startDate" mdbInput></ejs-datepicker>
            <mdb-error *ngIf="!fromDateCheck">Start date required</mdb-error>
            <mdb-success *ngIf="fromDateCheck">Start date valid</mdb-success>
          </div>

          <div class="md-form">
            <ejs-datepicker format='yyyy-MM-dd' (change)="changeEndDate($event)"
                            style="color:#3F51B5; border: none !important;" id="endDate"
                            placeholder="End Date" #endDate
                            [value]='formEndDate'
                            class="form-control" name="endDate" mdbInput></ejs-datepicker>
            <mdb-error *ngIf="!toDateCheck">End date required</mdb-error>
            <mdb-success *ngIf="toDateCheck">End date valid</mdb-success>
          </div>
          <div class="md-form">
            <span class="fontMaterial" style="float: left">Priority&nbsp;&nbsp;&nbsp;{{selectedPriority}}
            </span>

            <mv-slider name="priority" #priority (change)="changeValue($event)" id="priority"
                       [min]="0" [max]="30" [enabled]="enabled" [value]="selectedPriority" style="width:430px" mdbInput>
            </mv-slider>
            <mdb-error [hidden]=validateField style="padding-top: 7px" *ngIf="!priorityCheck">Range required</mdb-error>
            <mdb-success style="padding-top: 7px" *ngIf="priorityCheck">Valid Range</mdb-success>
          </div>

          <div class="md-form">
            <div formGroupName="user" novalidate>

              <ng-template let-option>
                {{ option.firstName }}
              </ng-template>
              <sui-select class="selection form-control"
                          [placeholder]="userPlaceholder"
                          [options]="options"
                          labelField="firstName"
                          [isSearchable]="true"
                          (selectedOptionChange)="getUserValue($event)">
                <sui-select-option *ngFor="let user of userData" [value]="user"></sui-select-option>
              </sui-select>

            </div>
            <mdb-error [hidden]=validateField *ngIf="!userCheck">User required</mdb-error>
            <mdb-success *ngIf="userCheck">User valid</mdb-success>
          </div>

          <div class="md-form">
            <div formGroupName="project" novalidate>

              <ng-template let-option>
                {{ option.projectName }}
              </ng-template>
              <sui-select class="selection form-control"
                          [placeholder]="projectPlaceholder"
                          [options]="options"
                          labelField="projectName"
                          [isSearchable]="true"
                          (selectedOptionChange)="getProjectValue($event)">
                <sui-select-option *ngFor="let project of projectData" [value]="project"></sui-select-option>
              </sui-select>

            </div>
            <mdb-error [hidden]=validateField *ngIf="!projectCheck">Project required</mdb-error>
            <mdb-success *ngIf="projectCheck">User valid</mdb-success>
          </div>
          <div class="md-form" style="padding-left: 25px">
            <mdb-checkbox [default]="true" (change)="toggleVisibility($event)">Enable Parent Task</mdb-checkbox>
          </div>

          <div class="md-form">

            <div formGroupName="parentTask" novalidate>

              <ng-template let-option>
                {{ option.task }}
              </ng-template>
              <sui-select class="selection form-control"
                          [placeholder]="taskPlaceholder"
                          [options]="options"
                          labelField="task"
                          [isSearchable]="true"
                          (selectedOptionChange)="getParentTaskValue($event)"
                          [isDisabled]="isParentTaskDisabled">
                <sui-select-option *ngFor="let task of filterData" [value]="task">
                </sui-select-option>
              </sui-select>

            </div>
            <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect
                    type="submit" style="border-radius: 10px;" [hidden]="isSubmitDisabled" (click)="onSubmit()">
              Submit
            </button>
            <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                    mdbWavesEffect
                    type="submit" style="border-radius: 10px;" [hidden]="isUpdateDisabled" (click)="updateTask()">
              Update
            </button>

            <!-- Clear button -->
            <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                    id="reset-btn"
                    style="border-radius: 10px;" mdbWavesEffect (click)="revert()">
              Reset
            </button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="container animated fadeIn" style="width:1000px">
  <div class="row">
    <div style="  padding-left: 800px ">
      <button type="button" class="btn btn-primary waves-effect" style="border-radius: 20px; font-size: 12px;" mdbBtn
              color="indigo" rounded="true" data-toggle="modal" data-target="#basicExample"
              (click)="frame.show(); addTaskData()"
              mdbWavesEffect>
        <mdb-icon fas icon="tasks" class="mr-1"></mdb-icon>
        Add Task
      </button>
    </div>
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" (keyup)="search($event.target.value)" class="form-control" mdbInput />
        <label for="search">Search</label>
      </div>
    </div>
  </div>

  <table id="tableSortExample" mdbTable #tableEl="mdbTable" class="z-depth-1" [mfData]="filterData" #mf="mfDataTable"
         [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="task">Task Name <mdb-icon style="padding-left: 10px" fas icon="sort">
            </mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="project.projectName">Project Name<mdb-icon style="padding-left: 10px" fas icon="sort">
            </mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="user.firstName">User<mdb-icon style="padding-left: 10px" fas icon="sort">
            </mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="parentTask.parentTaskName">Parent Task Name<mdb-icon style="padding-left: 10px" fas
                      icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="startDate">Start Date<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="endDate">End Date<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="priority">Priority<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          Edit
        </th>
        <!-- <th>
          Delete
        </th> -->
        <th>
          End Task
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{ item.task }}</td>
        <td>{{ item.project.projectName  }}</td>
        <td>{{ item.user.firstName+" "+item.user.lastName }}</td>
        <td>{{ item.parentTask.parentTaskName }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.endDate }}</td>
        <td>{{ item.priority }}</td>
        <td>
          <button class="transparent" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
                  [disabled]="item.isCompleted"
                  (click)="updateTaskData(item);frame.show()">
            <mdb-icon fas icon="edit"></mdb-icon>
          </button>
        </td>
        <!-- <td>
          <button class="transparent" mdbWavesEffect data-toggle="modal" [disabled]="item.isCompleted"
                  (click)="deleteTask(item)">
            <mdb-icon fas icon="user-minus"></mdb-icon>
          </button>
        </td> -->
        <td>
          <button
                  class="transparent" color="indigo" mdbWavesEffect [disabled]="item.isCompleted"
                  (click)="endTask(item)">
            <mdb-icon fas icon="check"></mdb-icon>
          </button>
        </td>
      </tr>

    </tbody>
    <tfoot style="color: indigo">

      <tr>
        <td colspan="12">

          <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]">

          </mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
