<app-navigation></app-navigation>
<div class="container-fluid animated fadeIn" style="padding-top: 20px">
  <div class="flex-center flex-column"></div>

</div>

<router-outlet></router-outlet>
<!-- /Start your project here-->
