<div mdbModal #frame="mdbModal" class="modal fade center" id="frameModalTop" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body mx-3">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()"
                #closeBtn>
          <span aria-hidden="true">&times;</span>
        </button>
        <form [formGroup]="userForm" novalidate class="text-center" style="color: #3F51B5"
              style="padding-top: 20px" id="userDataForm">
          <p class="h4 mb-4" style="color: #3F51B5">{{ title }} User</p>
          <!-- Email -->
          <p>{{ userForm.status }}</p>
          <div class="md-form mt-0">
            <input formControlName="firstName" type="text" id="firstName" class="form-control" name="firstName"
                   mdbInput />
            <label for="firstName">First Name</label>
            <mdb-error *ngIf="form.firstName.invalid && (form.firstName.dirty || form.firstName.touched)">
              First name invalid</mdb-error>
          </div>

          <div class="md-form mt-0">
            <input formControlName="lastName" type="text" id="lastName" class="form-control" name="lastName" mdbInput />
            <label for="lastName">Last Name</label>
            <mdb-error *ngIf="form.lastName.invalid && (form.lastName.dirty || form.lastName.touched)">
              Last name invalid</mdb-error>
          </div>

          <div class="md-form mt-0">
            <input formControlName="employeeId" type="text" id="employeeId" class="form-control" name="employeeId"
                   mdbInput />
            <label for="employeeId">Employee Id</label>
            <mdb-error *ngIf="form.employeeId.invalid && (form.employeeId.dirty || form.employeeId.touched)">
              Employee ID invalid</mdb-error>
          </div>

          <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                  mdbWavesEffect
                  type="submit" style="border-radius: 10px;" [hidden]="isSubmitDisabled" (click)="onSubmit()">
            Submit
          </button>

          <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                  mdbWavesEffect
                  type="submit" style="border-radius: 10px;" [hidden]="isUpdateDisabled" (click)="updateUser()">
            Update
          </button>

          <!-- Clear button -->
          <button mdbBtn color="indigo" class="my-4 waves-effect z-depth-0"
                  id="reset-btn"
                  style="border-radius: 10px;" mdbWavesEffect (click)="revert()">
            Clear
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container animated fadeIn" style="width:1000px">
  <div class="row">
    <div style="  padding-left: 800px ">
      <button type="button" class="btn btn-primary waves-effect" style="border-radius: 20px; font-size: 12px;" mdbBtn
              color="indigo" rounded="true" data-toggle="modal" data-target="#basicExample"
              (click)="frame.show(); addUserData()"
              mdbWavesEffect>

        <mdb-icon fas icon="user-plus" class="mr-1"></mdb-icon>
        Add User
      </button>

    </div>
    <div class="col-md-12 mx-auto">
      <div class="md-form">
        <input type="text" (keyup)="search($event.target.value)" class="form-control" mdbInput />
        <label for="search">Search</label>
      </div>
    </div>
  </div>

  <table id="tableSortExample" mdbTable #tableEl="mdbTable" class="z-depth-1" [mfData]="filterData" #mf="mfDataTable"
         [mfRowsOnPage]="5">
    <thead>
      <tr>
        <th>
          <mfDefaultSorter by="userId">ID <mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="firstName">FirstName<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="lastName">LastName<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          <mfDefaultSorter by="employeeId">EmployeeId<mdb-icon style="padding-left: 10px" fas icon="sort"></mdb-icon>
          </mfDefaultSorter>
        </th>
        <th>
          Edit
        </th>
        <th>
          Delete
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of mf.data">
        <td>{{ item.userId }}</td>
        <td>{{ item.firstName }}</td>
        <td>{{ item.lastName }}</td>
        <td>{{ item.employeeId }}</td>
        <td>
          <button class="transparent" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
                  (click)="updateUserData(item);frame.show()">
            <mdb-icon fas icon="user-edit"></mdb-icon>
          </button>
        </td>
        <td>
          <button class="transparent" mdbWavesEffect data-toggle="modal" data-target="#basicExample"
                  (click)="deleteUser(item)">
            <mdb-icon fas icon="user-minus"></mdb-icon>
          </button>
        </td>
      </tr>

    </tbody>
    <tfoot style="color: indigo">

      <tr>
        <td colspan="12">

          <mfBootstrapPaginator [rowsOnPageSet]="[5, 10, 25]">

          </mfBootstrapPaginator>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
