<!-- Start your project here-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo animated
  fadeIn">
  <mdb-navbar-brand>
    <a class="navbar-brand" href="#">
      <img src="assets/images/icon.png" height="50" class="d-inline-block
        align-top" alt="" />
    </a>
  </mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link">Project Manager</a>
      </li>
      <li class="nav-item">
        <a routerLink="/project" class="nav-link waves-light" mdbWavesEffect>Project</a>
      </li>
      <li class="nav-item">
        <a routerLink="/user" class="nav-link waves-light" mdbWavesEffect>User</a>
      </li>
      <li class="nav-item">
        <a routerLink="/task" class="nav-link waves-light" mdbWavesEffect>Task</a>
      </li>
    </ul>
    <!-- Links -->
  </links>

  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
