/* You can add global styles to this file, and also import other style files */
.allcenter {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.transparent {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
